# Application
PORT=
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-me
JWT_TOKEN_EXPIRATION=7d

# Database
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Loki
LOKI_HOST=http://localhost:3100

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin